* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
}
form {
    background: #ffffff;
    padding: 2px;
    margin-left: 1px; 
    position: relative;
    width: 99%;
}
form input { 
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
    background: #9d9d9d;
    border: 1px solid black;
}
form button {
    width: 9%;
    background: #0b0b61;
    border: none;
    padding: 10px;
    color: #fff;
}
#raumauswahl{
    width:10%;
    /* background-color: #0b0b61; */
    float: left;
    height:100vh;
}
#chat{
    float: right;
    width: 40vw;
    margin-top: 3vw;
    margin-right: 2vw;
    height: 40vh;
    border: 3px solid #0b0b61;
}
#int3{
    float: right;
    width: 40vw;
    margin-top: 3vw;
    margin-right: 2vw;
    height: 40vh;
    border: 3px solid #0b0b61;
}
#int1{
    float: left;
    width: 40vw;
    margin-top: 3vw;
    margin-left: 2vw;
    height: 40vh;
    border: 3px solid #0b0b61;
}
#int2{
    float: left;
    width: 40vw;
    margin-top: 3vw;
    margin-left: 2vw;
    height: 40vh;
    border: 3px solid #0b0b61;
}
#messages
{ list-style-type: none;
    margin: 0;
    padding: 0;

}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #9d9d9d;
}
#inputRow {
    position: absolute;
    bottom:50px;
    width: 5%;
    background-color: #ffffff;
    color: #9d9d9d;
    text-align: left;
    height: 50px;
}
#logo{
    margin-top: 2vh;
    height: 10vh;
    width: auto;
}
.gruppenname{
    margin-top: 4vh;
    width: 100%;
    height: 8vh;
    text-align: center;
    color: #0b0b61;
    font-size: 2em;
    justify-content: center;
}
.raum{
    width: 100%;
    height: 8vh;
    text-align: center;
    color: #0b0b61;
    font-size: 2em;
    justify-content: center;
}
.raum:hover{
    border: 1px solid #9d9d9d;
}
.raum:active{
    border: 1px solid #9d9d9d;
    background-color: #0b0b61;
    color: #fff;
}
.gruppe{
    display: none;
    left: 10%;
    color: #fff;
}
#inttool{
    width:90%;
    float: right;
    height:100vh;
}
